.gridcont{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

button{
    font-size:20px;
    border: 1px solid orangered;
    background-color: white;
    border-radius: 15px;
}
button:hover{
    background:linear-gradient(90deg,orange,red);
    color: white;
    box-shadow: 0 0 12px 0.5px grey;
}

.disp{
    display: flex;
    justify-content: center;
}

/* h1{
    font-size: 72px;
    background: -webkit-linear-gradient(violet,indigo,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
